
<div mat-dialog-content>
    <h2>Add Employee Details</h2>
    <form [formGroup]="addForm" fxLayoutAlign="stretch" fxLayout="column">
        <mat-form-field>
            <input matInput placeholder="Enter Employee Name" type="text" formControlName="employee_name" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Enter Employee Salary" type="text" formControlName="employee_salary" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Enter Employee Age" type="number" formControlName="employee_age" required>
        </mat-form-field>
        
    </form>
 
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="cancel()"> Cancel </button>
    <button mat-raised-button color="primary" (click)="save()" style="margin-left:40px;"> Save </button>  
</div>