.example-spacer {
    flex: 1 1 auto;
  }
  table {
    width: 100%;
  }
  .toolbar{
    position: fixed;
  }
  .header{
    height: 55px;
    display: flex;
    z-index: 2;
    position: fixed;
  }
  .content{
    margin-top: 3rem;
    height: 80vh;
  }

  .add-button{
    margin-bottom: 10px;
  }

  th.mat-sort-header-sorted {
    color: black;
  }

   .mat-row:nth-child(even) { 
    background-color: lavender; 
  } 
  th.mat-header-cell, td.mat-cell {
    text-align: center;
    border: 1px solid #CCC;

  }
  .mat-header-cell {
    background-color:slategrey;
    color:wheat;
    font-size: 15px;
  } 
  .save-button{
    margin-left:40px !important;
  }
  .margin-top-0{
    margin-top: 0;
  }
  .padding-top-5{
    padding-top: 5rem;
  }
  .logo{
    height:30px;
    width:30px;
    border-radius: 2px;
  }
  .table-container{
    height: 400px;
    overflow:auto;
  }
  .no-records{
    font-size: 25px;
    padding: 100px;
    text-align: center;

  }
