<div class="bg-image">
    <div class="form-container">
        <form [formGroup]="loginForm" class="login-form">
            <mat-form-field>
                <input matInput placeholder="Enter Employee Id" type="text" formControlName="employee_id" required>
            </mat-form-field>
            <div *ngIf="errorMsg">
            <small class="error-msg">{{errorMsg}}</small>
            </div>
            <div>
                <button mat-raised-button class="login-btn" type="submit" (click)="login()">Login</button>
            </div>
        </form>
    </div>
</div>


